@use "../../styles/breakpoints" as *;

.projects__intro {
  position: relative;
  margin-bottom: 50px;

  @include min-width-md {
    margin-bottom: 55px;
  }

  @include min-width-lg {
    margin-bottom: 80px;
  }

  @include min-width-xl {
    margin-bottom: 135px;
  }
}

.projects__image {
  width: 488px;
  position: absolute;
  top: -45px;
  left: 47%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;

  @include min-width-md {
    width: 480px;
    top: unset;
    bottom: -15px;
    left: -55px;
    transform: none;
    z-index: auto;
    pointer-events: auto;
  }

  @include min-width-lg {
    width: 552px;
    bottom: -30px;
    left: -55px;
  }

  img {
    width: 100%;
  }
}

.projects__text {
  position: relative;

  @include min-width-md {
    text-align: right;
  }
}

.projects__titles {
  text-align: center;
  margin-bottom: 415px;

  @include min-width-md {
    text-align: right;
    margin-bottom: 30px;
  }
}

.projects__secondary-title {
  display: none;

  @include min-width-md {
    display: block;
  }
}

.projects__description {
  margin-bottom: 10px;

  @include min-width-md {
    margin-bottom: 30px;
  }
}

.projects__project--first,
.projects__project--second {
  margin-bottom: 50px;

  @include min-width-md {
    margin-bottom: 55px;
  }

  @include min-width-lg {
    margin-bottom: 65px;
  }

  @include min-width-xl {
    margin-bottom: 130px;
  }
}
