@use "../styles/breakpoints" as *;

.logo {
  font-size: 24px;
  font-weight: var(--semi-bold-font-weight);
  color: var(--primary-text-color);
  opacity: var(--primary-text-opacity);
  text-decoration: none;
}
