@use "../../styles/breakpoints" as *;

.project__date-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @include min-width-md {
    flex-direction: row;
    gap: 50px;
    margin-bottom: 22px;
  }

  @include min-width-lg {
    margin-bottom: 42px;
  }
}

.project__date {
  margin-top: 11px;
}

.project__title {
  max-width: 450px;
}

.project__image-container {
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.87;

  @include min-width-md {
    width: 100%;
    margin-bottom: 20px;
  }

  @include min-width-lg {
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;

    @include min-width-md {
      max-width: none;
      width: 100%;
    }
  }
}

.project__image-large {
  display: none;

  @include min-width-md {
    display: block;
  }
}

.project__image-small {
  display: block;

  @include min-width-md {
    display: none;
  }
}

.project__text {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;

  @include min-width-xl {
    flex-direction: row;
    gap: 0;
  }
}

.project__links {
  display: flex;
  flex-direction: column;

  @include min-width-md {
    display: block;
    width: 250px;
    flex-shrink: 0;
  }
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include min-width-lg {
    gap: 20px;
  }
}
