@use "breakpoints" as *;

.intro {
  position: relative;
  margin-top: 65px;
}

.intro__description {
  position: relative;
  text-align: right;
}

.intro__primary-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.intro__secondary-title {
  margin-bottom: 75px;
}

.intro__about-me {
  margin-bottom: 30px;
}

.intro__image {
  position: absolute;
  top: -50px;
  left: -205px;
  max-width: 720px;

  img {
    max-width: 100%;
  }
}
